h1 {
    text-align: center;
    text-transform: uppercase;
    color: indigo;
}

.table a{
    text-decoration: None;
    white-space: nowrap;
    width: 100%;
}

/*
td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.column {
    flex: 100%;
    padding: 10px;
}
*/

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}