{% extends 'base.html' %}
{% block content %}
    <div class="container mt-4 mb-4">
        <div class="card mx-auto boarder-light mb-4" style="width: 70%;">
            <div class="card-header" style="text-align: center; color; indigo;"><h1>About Cab booking web app</h1></div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">A minimalist Flask Web App to book a cab, notify the user by sending email and create a .txt
                file for the booking.</li>
                <li class="list-group-item">This app allows users to book cab by providing an easy-to-use interface.</li>
            </ul>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><h5>Here is a breakdown of the basic functionality of the App.</h5></li>
                <li class="list-group-item">1. Users can create a new booking by providing details such as pickup and drop locations, date, time,
                and type of vehicle. This information is stored in the app's database, creating a new entry.</li>
                <li class="list-group-item">2. User will be notified by sending email.</li>
                <li class="list-group-item">3. The app provides users with the ability to view their current and past bookings.</li>
                <li class="list-group-item">4. They can check details of their bookings.</li>
                <li class="list-group-item">5. Users can modify their existing bookings, updating information such as pickup or drop locations,
                    date, time etc. The app ensures that the changes are reflected in the database.</li>
                <li class="list-group-item">6. If users need to cancel a booking, they can delete it from the app.
                    This will update database accordingly.</li>
            </ul>
        </div>
    </div>

{% endblock content %}
