{% extends 'base.html' %}
{% block content %}

    <div class="container mt-4 mb-4">
        <div class="card border-dark mb-3" style="width: 80%;">
            <div class="card-header"><h1>Cab booking details</h1></div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ booking.name }}</li>
                <li class="list-group-item">Date: {{ booking.date }}, Time: {{ booking.time }} hrs</li>
                <li class="list-group-item">Picup Address: {{ booking.pickup }}</li>
                <li class="list-group-item">Drop at: {{ booking.drop }}</li>
                <li class="list-group-item">Vehicle: {{ booking.vehicle }}</li>
            </ul>
        </div>
        <a href="{{ url_for('booking_list') }}">Back to list</a>
    </div>

{% endblock content %}