{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1 class="mt-4 mb-4" style="text-align: center; text-transform: uppercase; color: indigo;">Update Cab Booking</h1>

        <form method="post">
            <div class="form-group mb-4">
                <div class="input-group">
                    <label for="name">Name: </label>
                    <input class="form-control" type="text" id="name" name="name" value="{{ booking.name }}"style="margin-left: 10px; margin-right: 10px;" required>
                    <label for="mobile">Mobile No. </label>
                    <input class="form-control" type="text" id="mobile" name="mobile" value="{{ booking.mobile }}" style="margin-left: 10px; margin-right: 10px;" required>
                    <label for="email">Email: </label>
                    <input class="form-control" type="email" id="email" name="email" value="{{ booking.email }}" style="margin-left: 10px; margin-right: 10px;" required>

                </div>
            </div>
            <div class="form-group mb-4">
                <label for="pickup">Pickup (Address/Location):</label>
                <input class="form-control" type="text" id="pickup" name="from" value="{{ booking.pickup }}" required>
            </div>
            <div class="form-group mb-4">
                <label for="drop">Drop at (Address/Location):</label>
                <input class="form-control" type="text" id="drop" name="to" value="{{ booking.drop }}" required>
            </div>
            <div class="form-group mb-4">
                <div class="input-group">
                    <label for="date">Date:</label>
                    <input class="form-control" type="date" id="date" name="date" value="{{ booking.date }}" style="margin-left: 10px; margin-right: 10px;" required>
                    <label for="time">Time:</label>
                    <input class="form-control" type="time" id="time" name="time" value="{{ booking.time }}" style="margin-left: 10px; margin-right: 10px;" required>
                </div>
            </div>
            <div class="form-group mb-4">
                <div class="input-group">
                    <label>Vehicle:</label>
                    <br>
                    <div class="btn-group-horizontal" id="vehicle">
                        <input class="btn-check form-control" type="radio" id="sedan" name="vehicle" value="sedan" required>
                        <label class="btn btn-outline-secondary" style="margin-left: 10px; margin-right: 10px;" for="sedan">Sedan</label>

                        <input class="btn-check form-control" type="radio" id="muv" name="vehicle" value="muv" required>
                        <label class="btn btn-outline-secondary" style="margin-left: 10px; margin-right: 10px;" for="muv">MUV</label>

                        <input class="btn-check form-control" type="radio" id="premium_sedan" name="vehicle" value="premium sedan" required>
                        <label class="btn btn-outline-secondary" style="margin-left: 10px; margin-right: 10px;" for="premium_sedan">Premium Sedan</label>

                        <input class="btn-check form-control" type="radio" id="premium_muv" name="vehicle" value="premium muv" required>
                        <label class="btn btn-outline-secondary" style="margin-left: 10px; margin-right: 10px;" for="premium_muv">Premium MUV</label>
                    </div>
                </div>
            </div>
            <br/>
            <button class="btn btn-primary mb-4" type="submit">Update</button>
            <a class="btn btn-secondary mb-4" href="{{ url_for('booking_list') }}">Cancel</a>
        </form>

    </div>
{% endblock content %}